/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*///////////////////////////////////////layout////////////////////////////////////////*/
.fa-snowflake {
    position: relative;
    top: -1px;
    font-size: 16px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

    .wrap a {
        color: #fff;
    }

.hover-fx {
   
    transition: 300ms;
}

    .hover-fx:after {
       
        transition: 300ms;
    }

    .hover-fx:hover {
        font-size:20px !important;
        transform:rotate(45deg);
    }

        .hover-fx:hover:after {
            opacity: 1;
            transform: scale(1.15);
        }

                                 /*second-navbar*/
.second-navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -15px;
    transition: 300ms;
}
    .second-navbar > div {
        background-color: #f1f1f1;
        width: 20%;
        margin: 10px;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        color: #130347;
        font-weight:500;
    }
.searchResult {
    max-height: 64vh;
    display: none;
    width: 216px;
    overflow: auto;
    background: white;
    border-radius: 0px 0px 6px 6px;
    min-height: 35px;
    position: absolute;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
/*second-navbar end*/
/*///////////////////////////////////////layout End////////////////////////////////////////*/
/*///////////////////////////////////////Admin////////////////////////////////////////*/
.Categories-Container {
    display: flex;
}
.Categories {
    width: 200px;
    height: 110px;
    margin: 10px;
}
/*///////////////////////////////////////Admin End////////////////////////////////////////*/



/*////////////////////////////////Login Modal CSS start///////////////////////*/

.abtn {
    border: 2px solid #17a2b8;
    border-radius: 15px;
    margin: 30px;
}

.flex1 {
    display: flex;
    justify-content: center;
}

.signinimg {
    height: 20px;
    margin: 4px;
}


/*////////////////////////////////Login Modal CSS End///////////////////////*/

.dropdownStyle {
    position: absolute;
    background: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
    .dropdownStyle ul 
    {
        list-style: none;
        padding: 10px;
    }

