
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/Content/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/wwwroot/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3" style="background: #130347 !important">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white"><i class="far fa-snowflake"></i> Sabi | Admin Panel <i class="far fa-snowflake"></i></a>
            </div>
        </nav>
    </header>
    <div class="MainDivAdmin">


        <div class="Categories-Container container">
            @{
                foreach (var category in ViewBag.categories)
                {
                    <div class="Categories card">
                        <div class="card-body">
                            @category.CategoryId
                            @category.CategoryName
                        </div>
                    </div>
                }
            }
            <div class="Categories card">
                <div class="card-body" style="text-align:center">
                    <i class="fas fa-plus" style=" font-size: 60px; color: #d0d0d0;"></i>
                </div>
            </div>


        </div>
            
        </div>
        
    <script src="~/Content/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/wwwroot/js/site.js" asp-append-version="true"></script>
</body>
</html>
