@model IEnumerable<SabiAsp.Models.Cart>

    <div class="container-fluid">
        
        @foreach (var item in Model)
        {

            <div class="row">
                <div class="col-4">@item.itemDetails.name</div>
                <div class="col-4">@item.itemDetails.Price</div>
                <div class="col-4">@item.cartDetail.quantity</div>
            </div>

        }
    </div>

